<?php
/**
 * Sample Vivo configuration for development.
 *
 */
return array(
    'view_manager' => array(
        'display_not_found_reason' => true,
        'display_exceptions'       => true,
        ),
    'nette_debug' => array(
        'enabled'      => true,
        'mode'         => false,        // true = production|false = development|null = autodetect|IP address(es) csv/array
        'bar'          => true,       // bool = enabled|Toggle nette diagnostics bar.
        'strict'       => true,        // bool = cause immediate death|int = matched against error severity
        'log'          => "",          // bool = enabled|Path to directory eg. data/logs
        'email'        => "",          // in production mode notifies the recipient
        'max_depth'    => 3,           // nested levels of array/object
        'max_len'      => 150,         // max string display length
    ),

    'logger' => array(
        'listener' => array(
            'attach' => array(
//                array('*', '*'),
                array('*', 'log'),
            ),
        ),
        'writers' => array(
            'firephp',
        ),
    ),
);
