<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    'vivo'  => array(
        'db_service'    => array(
            'abstract_factory'  => array(
                'pdo'       => array(
                    'config'        => array(
                        //Configure PDO connections here. Keys are db source names used throughout the app.
                        'vivo_db'    => array(
                            'dsn'       => 'mysql:host=<host_name>:<port>;dbname=<db_name>',
                            'username'  => '<username>',
                            'password'  => '<password>',
                            'options'   => array(
                            ),
                        ),
                    ),
                ),
            ),
        ),
        'module_install_manager'    => array(
            //Configure the default db source to be used with newly installed modules
            //if a specific db source is not specified during installation
            'default_db_source'     => 'vivo_db',
        ),
    ),
);
