<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    'db_service'    => array(
        'abstract_factory'  => array(
            'pdo'       => array(
                'config'        => array(
                    //Configure (multiple) PDO connections used by Vivo
                    //The keys are used as db connection identifiers
                    'vivo_db'    => array(
                        'dsn'       => 'mysql:host=localhost:3306;dbname=vivo_db',
                        'username'  => 'vivo',
                        'password'  => 'vivo',
                        'options'   => array(
                        ),
                    ),
                ),
            ),
        ),
    ),
    //Core setup
    'setup'         => array(
        'db'    => array(
            //Name of db connection used by core
            'db_source'     => 'local_vivo_dev',
        ),
    ),
    'cms'  => array(
        'security_manager_db'  => array(
            'options'           => array(
                'super_password'        => 'Vivo.super.Pwd.497',
                'super_access_networks' => array(
                    '127.0.0.1',
                ),
            ),
        ),
    ),
    'indexer'   => array(
        'adapter'   => array(
            'type'      => 'solr',
            //Solr options
            'options'   => array(
                'id_field'      => 'uuid',
                'solr_service'  => array(
                    'host'          => 'localhost',
                    'port'          => 8983,
                    'path'          => '/solr/',
                ),
            ),
        ),
    ),
    'modules'    => array(
        //Default db source used for modules
        'default_db_source'     => 'vivo_db',
    ),

);
